[Unit]
Description=Transparent redirector of any TCP connection to proxy using your firewall

[Service]
Type=forking

Environment=PIDFILE=/run/redsocks/redsocks.pid
Environment=CONFFILE=/etc/redsocks/redsocks.conf

PIDFile=$PIDFILE
User=redsocks
ExecStartPre=/usr/bin/redsocks -t -c $CONFFILE
ExecStart=/usr/bin/redsocks -c $CONFFILE -p $PIDFILE
ExecStopPost=/bin/rm $PIDFILE
Restart=on-abort

[Install]
WantedBy=multi-user.target
